<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>

</head>
    <body>
        <header>
            <h1>{{ .Site.Title }}</h1>
            <p>{{ .Site.Params.Description }}</p>
        </header>

        {{ partial "navigation.html" . }}
      
          <main>

            <h1>Hey!</h1>
            hHHHH
            
          </main>
      
        <footer>
            &copy Yaning Chang 2022
        </footer>

    </body>

</html>
